/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
body {
  background-image: url("../assets/bg.jpg"); }

#title {
  height: 65px;
  width: 100%;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 769px) {
    #title {
      background-image: url("../assets/header_bg.svg"); } }

#logo {
  background-image: url("../assets/logo.svg");
  background-position: center left;
  background-repeat: no-repeat;
  height: 65px;
  width: 100%;
  display: flex;
  margin-left: 10px; }
  @media screen and (min-width: 769px) {
    #logo {
      background-position: center;
      margin-right: -38px; } }

#plus-box {
  height: 30px;
  width: 30px;
  border: 2px #F48254 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background 0.3s; }
  #plus-box:hover {
    background-color: #F1592A;
    border: 2px #F1592A solid;
    transition: background 0.3s, border 0.3s; }

#plus-char {
  color: #B74326;
  font-size: 1.75rem;
  font-weight: bold; }
  #plus-char:hover {
    color: white;
    cursor: pointer; }

#nav {
  height: 45px;
  width: 100%;
  background-color: #3A3A3C;
  text-align: center;
  line-height: 45px;
  color: #818285;
  font-family: 'Oswald';
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

#random-link, #my-boards, #get-the-app {
  flex: 1 0 30%;
  transition: color 0.5s; }
  #random-link:hover, #my-boards:hover, #get-the-app:hover {
    color: #F1592A;
    cursor: pointer;
    transition: color 0.5s; }
  @media screen and (min-width: 769px) {
    #random-link, #my-boards, #get-the-app {
      flex: 0 0 10.3%; } }

.dot {
  display: none; }
  @media screen and (min-width: 769px) {
    .dot {
      display: flex; } }

#my-boards {
  border-left: 1px solid #818285;
  border-right: 1px solid #818285; }
  @media screen and (min-width: 769px) {
    #my-boards {
      border-left: none;
      border-right: none; } }

#content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
  padding: 13px 13px 0px 13px; }
  @media screen and (min-width: 769px) {
    #content {
      padding: 40px;
      justify-content: space-between; } }
  @media screen and (min-width: 1200px) {
    #content {
      padding-left: 250px;
      padding-right: 250px;
      padding-bottom: 0px; } }

.img-box {
  width: 410px;
  height: 250px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px; }
  @media screen and (min-width: 769px) {
    .img-box {
      width: 275px;
      height: 170px; } }

.card-box {
  margin-bottom: 13px;
  height: 435px;
  text-align: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
  flex: 0 0 100%;
  transition: outline 0.3s; }
  @media screen and (min-width: 769px) {
    .card-box {
      flex: 0 0 48%;
      box-shadow: 15px 15px 20px #3A3A3C;
      margin-bottom: 25px;
      height: 330px; } }
  .card-box:hover {
    outline: 5px #F7941E solid;
    box-sizing: border-box;
    transition: outline 0.2s; }

.card-title {
  color: #3A3A3C;
  font-family: 'Oswald';
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-left: 25.75px;
  margin-right: 25.75px; }

.card-info {
  color: #818285;
  font-family: 'Lato';
  font-size: 0.75rem;
  margin-left: 25.75px;
  margin-right: 25.75px; }

#footer {
  height: 50px;
  width: 100%;
  background-color: #3A3A3C;
  margin-top: 15px;
  text-align: center;
  display: none; }
  @media screen and (min-width: 1200px) {
    #footer {
      display: block; } }

svg {
  margin: 5px;
  margin-top: 12px; }

svg:hover #instagram, svg:hover #fb {
  fill: #F15A29;
  transition: fill 0.5s; }
